#root {
  margin: 0 auto;
}

body {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

/* center, right, and left divs */
.centerDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  background-color: rgba(133, 37, 37, 0.482);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  position: absolute;
  top: 50%;  
  left: 50%; 
  transform: translate(-50%, -50%);
  height: 70%;
  width: 30%;
}


.rightSideDiv {
  padding: 2rem;
  text-align: center;
  background-color: rgba(133, 37, 37, 0.482);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  position: absolute;
  right: 0;
  top: 0;
  height: 80%;
  width: 15%;
  overflow: auto;
}

.leftSideDiv {
  padding: 2rem;
  text-align: center;
  background-color: rgba(133, 37, 37, 0.482);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 20;
  height: 80%;
  width: 15%;
  overflow: auto;
}

/* discover btn, origin btn, breed btn, weight btn, and banlist btn */
.DiscoverBtn {
  border-radius: 8px;
  border: 1px solid;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  cursor: pointer;
  color: rgba(133, 37, 37, 0.482);
  margin-top: 1rem;
}

.DiscoverBtn:hover {
  color: black;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.originBtn, .breedBtn, .weightBtn, .banListBtn{
  display: inline;
  flex-direction: column;
  margin: 1rem;
  padding: 10px;
  text-align: center;
  background-color: rgba(133, 37, 37, 0.8);
  border-radius: 10px;
  color: white;
  font-size: 1.2em;
  border:rgba(255, 255, 255, 0.8) 1px solid;
}

.originBtn:hover, .breedBtn:hover, .weightBtn:hover, .banListBtn:hover {
  color: black;
  border: 1px solid black;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}


/* img and li styling */

img {
  max-width: 20em;
  max-height: 10em;
  border: white 4px solid;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  margin: 1rem;
  margin-top: 2rem;
}

li {
  list-style-type: none;
}

/* cat info styling */
.catAttributesDiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}